<div class="accordion" id="accordionMotivoConsulta">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0" style="text-align: center;">
        <button class="btn btn-link" style="color: green;" type="button" data-toggle="collapse" data-target="#collapseMotivoConsulta" aria-expanded="false" aria-controls="collapseMotivoConsulta">
          Motivo de Consulta
        </button>
      </h2>
    </div>

    <div id="collapseMotivoConsulta" class="collapse" aria-labelledby="headingMotivoConsulta" data-parent="#accordionMotivoConsulta">
      <div class="card-body" style="text-align: center;">
        {{motivoConsulta}}
      </div>
    </div>
  </div>
  </div>