<table class="table table-borderless table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Estudio</th>
      <th scope="col">Informe</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    {{#each resultadosSangre}}
        <tr>
          <th scope="row">1</th>
          <td>{{capitalizar name}}</td>
          <td>{{value}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>

